<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medicalresearchdream">
    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".apps.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.my.activity.KeFuActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.ZaiXianActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.GuanyuActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.ShiPingActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.ShouHuoActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.GouWuActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.LiXianActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.MyCollerActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".view.my.activity.JishuActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".activity.DenLuActivity"
            android:theme="@style/NAppTheme"/>
        <activity android:name=".activity.YingwActivity"
            android:theme="@style/NAppTheme"/>
        <activity
            android:name=".activity.YingActivity"
            android:theme="@style/NAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:theme="@style/NAppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FlagTheme">

        </activity>
        <activity android:name=".workdetailactivity"/>
    </application>

</manifest>